@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2%;
}

.container section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  align-items: center;
  text-align: center;
  margin: 1rem;
  padding: 2rem;
  width: 22%;
  border: 2px solid rgb(113, 108, 212) ;
}

.container section .cards h1{
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem 0;
}


h1:after{
  content: "";
  height: 4px;
  width: 40px;
  display: block;
  margin: 12px auto;
  background: rgb(113, 108, 212) ;
}

.container section .cards p{
  font-size: 16px;
  line-height: 22px;

}

@media screen and (max-width: 900px) {
  .cards {
    width: 31%;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
  }

}

@media screen and (max-width: 760px) {
  .cards {
    width: 40%;
  }

}

